 
.one{
background-color:aqua;
height:100px;
padding:20px;
margin:20px;
text-align:center;
order:1;



}
.main-container{
flex-direction:column;
text-align:center;
background-color:bisque;
justify-content:center;


}
.ram{
height:80px;
border-radius:80px;
width:80px;
}




.two{
background-color:yellogren;
color:blue;
padding:20px;
margin:10px;
text-align:center;




}

.three{
background-color:cornflowerblue;
color:white;
 padding:20px;
margin:20px;
text-align:center;
}

.four{
background-color:green;
color:white;
text-align:center;
padding:30px;
margin:30px;
}

.sub-container{
display:flex;
flex-direction:row;
gap:20px;
justify-content:center;
}


 .main{
background-color:white;
}
.box{
background-color:plum;
display:flex;
flex-direction:row;
justify-self:center;

}
#sub-container{
    display:flex;
    flex-direction:row;
    gap:300px;
    padding:40px;
    font-size:50px;
}
 
















 





















