.one{
    color: orange;
}
.anusha{
    color: orange;
}
button:hover{
    background-color: aquamarine;
}
img{
    width: 70%;
    hight:500px;
    text-align: center;
    margin-left: 60px;
    background-color: blueviolet;

}
button:hover{
    background-color: yellow;
    padding: 10px;
}
.aa{
    text-align: center;
}