.skill{
    color:orange;
    

}
p{
    color:mediumvioletred;
    text-align: center;
}
b{
    color:orchid;

}
button{
    background-color: violet;
    padding: 10px;
}
img{
    height:500px;
    width:1000px;
}
.bb{
    text-align: center;
}